---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro.">
	<main>
    <h1>Use your gaming-<span class="text-gradient">controller</span> as a custom <span class="text-gradient">keyboard</span></h1>
    <p>Joytyping can take you from being painfully hunched over your keyboard, to reclining while you control your keyboard and mouse using your gaming-controller.</p>

    <h2>Get rid of the pains that come with working at your desk</h2>
		<ul role="list" class="link-card-grid">
			<Card
				href="https://docs.astro.build/"
				title="Forearm pronation pains"
				body="Typing on regular keyboards forces you to twist your wrists inward to make your palms face down. This position leads to forearm pronation pains. But your controller lets you keep a natural and painless position with your palms facing each other."
			/>
			<Card
				href="https://astro.build/integrations/"
				title="Bad posture and back aches"
				body="Using a keyboard keeps you to hunched over in the same sedentary position for a long time while you work. But using a controller held in your hands frees you to lean back and shift positions, relieving back pains."
			/>
			<Card
				href="https://astro.build/themes/"
				title="Pinkie pains"
				body="Someone thought it would be a good idea to put keys like shift and control at the edges to be held down using your weakest fingers - the pinkie fingers. It was a bad, painful idea. Typing using a controller will give your strongest fingers the heavy lifting instead."
			/>
			<Card
				href="https://astro.build/chat/"
				title="Forearm desk-edge pains"
				body="When reaching for your keyboard, it's tempting to rest your forearms against your desk edge all day. Give in to the temptation and your forearms will get painful. With typing with a controller you can get rid of the temptation altogether."
			/>
		</ul>

    <div class="instructions">
      <h2>Joytyping is super customisable</h2>
      <ul>
        <li>Assign any character to the click- or double-click of controller buttons - even shortcuts like <code>Ctrl-Z(undo)</code></li>
        <li>Our flexible and generous layers system lets you define hundreds of layers that you can navigate between in many ways</li>
        <li>The quick-lookup-window is a window you can bring up on your screen while typing to check how to type the key you're looking for. This window is made of html, css and js so it's completely customisable</li>
      </ul>
    </div>


    <div>
      <h2>Joytyping is free and open source</h2>
      <p>
  Joytyping does not collect any of your input data, your configuration data, nor your usage statistics. Don't believe us? You can <strong>take a look at our source code</strong> to make sure.<br/><br/>
  Joytyping is free forever. Support the project by giving it a star on GitHub.
      </p>
    </div>


	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	.astro-a {
		position: absolute;
		top: -32px;
		left: 50%;
		transform: translatex(-50%);
		width: 220px;
		height: auto;
		z-index: -1;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
	.link-card-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
		gap: 2rem;
		padding: 0;
	}
</style>
