---
---

Starting to download <span id="download-name">...</span>

<script>
  let urlParams = new URLSearchParams(window.location.search);
  let downloadVersion = urlParams.get('dv');
  let downloadName = document.querySelector("#download-name");
  downloadName.innerText = downloadVersion;

  function downloadFile(file) {
    // Create a link and set the URL using `createObjectURL`
    const link = document.createElement("a");
    link.style.display = "none";
    link.href = URL.createObjectURL(file);
    link.download = file.name;

    // It needs to be added to the DOM so it can be clicked
    document.body.appendChild(link);
    link.click();

    // To make this work on Firefox we need to wait
    // a little while before removing it.
    setTimeout(() => {
      URL.revokeObjectURL(link.href);
      link.parentNode.removeChild(link);
    }, 0);
  }

  // Dynamically create a File
  const myFile = new File([`${new Date()}: ${downloadVersion}`], "joytyping.txt");

  // Download it using our function
  if(urlParams.has('dv')) {
    downloadFile(myFile);
  }
</script>
