---
import { Card } from '@astrojs/starlight/components';
---

<div style="display: none;" id="download-feedback-card">
  <Card title="Thanks for downloading Joytyping!" icon="star">
    Starting to download "<span id="download-name">...</span>"...
  </Card>
</div>

<script>
  let urlParams = new URLSearchParams(window.location.search);
  let downloadVersion = urlParams.get('dv');
  let downloadName = document.querySelector("#download-name");
  downloadName.innerText = downloadVersion;
  
  function downloadFile(downloadPath) {
    // Create a link and set the URL
    const link = document.createElement("a");
    link.style.display = "none";
    link.href = `https://github.com/thehaxwell/joytyping/releases/download/${downloadPath}`;
    link.download = downloadPath;

    // It needs to be added to the DOM so it can be clicked
    document.body.appendChild(link);
    link.click();

    // To make this work on Firefox we need to wait
    // a little while before removing it.
    setTimeout(() => {
      URL.revokeObjectURL(link.href);
      link.parentNode.removeChild(link);
    }, 0);
  }

  // Download it using our function
  if(urlParams.has('dv')) {
    let downloadFeedbackCard = document.querySelector("#download-feedback-card");
    downloadFeedbackCard.style = "display: block;";
    downloadFile(downloadVersion);
  }
</script>
