<p>If you’re running Windows, your user settings should be at
<code dir="auto">C:\Users\yourusername\AppData\joytyping\user.toml</code></p>

<p>If you’re running linux, your user settings should be at
<code dir="auto">/home/yourusername/.config/joytyping/user.toml</code></p>

<p>Remember to replace “yourusername” with your actual username.</p>
